{
    # Enables on-demand TLS with domain validation
    on_demand_tls {
        ask https://caddy-api.1242601565.workers.dev/cert-allow
    }
}

:443 {
    reverse_proxy http://localhost:3000

    tls {
        on_demand
    }
}
n
# Redirect HTTP to HTTPS
:80 {
    redir https://{host}{uri}
}