{
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    on_demand_tls {
        ask https://caddy-api.1242601565.workers.dev/cert-allow
    }
}

:443 {
    tls {
        on_demand
    }
    reverse_proxy web:3000
}

:80 {
    reverse_proxy web:3000
}
